<%= render 'layouts/nav' %>
<br>
<p id="notice"><%= notice %></p>
<div id="video-index-root"></div>

  <div class="saved-video-card">
    <% @videos.each do |video| %>
      <header>
        <div><%= link_to 'Show', video %>|
          <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <header>
      <main><iframe src="<%= video.uri %>" frameborder="0" allowfullscreen></iframe></main>
    <% end %>
  </div>

<script>
  var ids = "<%= @videos.map {|video| video.id}.join(",") %>";
  var uris = "<%= @videos.map {|video| video.uri}.join(",") %>";

  var root = document.querySelector("video-index-root");
  root.innerHTML = `

  `;
</script>
