<%= render 'layouts/nav' %>
<br>
<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<div id="video-index-root"></div>
<table>
  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><iframe src="<%= video.uri %>" frameborder="0"></iframe></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  var ids = "<%= @videos.map {|video| video.id}.join(",") %>";
  var uris = "<%= @videos.map {|video| video.uri}.join(",") %>";

  console.log(ids.split(","));
  console.log(uris.split(","));



  var root = document.querySelector("video-index-root");
  root.innerHTML = `

  `;
</script>
