<%= form_for [@item] do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="name-field">
    <%= f.text_field :name, {id: :item_name, required: true, placeholder:"New Item"} %>
  </div>

  <div class="field">
    <%= f.hidden_field :category, {id: :item_category, placeholder:"Category"} %>
  </div>

  <%= button_tag( :class => "add-item-button") do %>
    <i class="fa fa-plus-square" aria-hidden="true"></i>
  <% end %>
<% end %>
