<%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, items_path %>

<h1><%= @item.name %></h1>

<%= form_for [@item] do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="icons-array">
    <% @icons_array.each do |icon| %>
      <input type="radio" name="item[category]" value="<%= icon[1] %>">
        <div><%= icon[0] %></div>
      <br>
    <% end %>
  </div>

  <div id="background"></div>

  <div class="field" id="img-url">
  </div>

  <div class="field">
    <%= f.text_field :name, {id: :item_name, required: true, placeholder:"New Item"} %>
  </div>



  <div class="actions">
    <%= f.submit "save" %>
  </div>
<% end %>

<% if @images %>
  <div class="image-container">
    <% @images.each do |url| %>
      <button class="img-wrapper" onclick='update(" <%= url %> ")'>
        <img id="drag1" src="<%= url %>" alt="" draggable="true" ondragstart="drag(event)" class="show-thumbnail">
      </button>
    <% end %>
  </div>
<% end %>

<script>
  function update(link){
    localStorage.setItem("current", link);
    document.getElementById("background").innerHTML = '<img src="' + localStorage.getItem("current") + '" alt="click to add image"></img>';
    document.getElementById("img-url").innerHTML = '<input id="item_image" type="hidden" name="item[image]" value=' + localStorage.getItem("current") + '>';
    console.log(document.getElementById("img-url"));
  }
</script>
