<%= render 'layouts/nav' %>
<br>
<%= render '/items/form', item: @item = Item.new %>
<div id="main-container"></div>

<script>
  var name = "<%= @items.map {|item| item.name}.join(",") %>";
  var image = "<%= @items.map {|item| item.image}.join(",") %>";
  var id = "<%= @items.map {|item| item.id}.join(",") %>";

  var names = name.split(",");
  var images = image.split(",");
  var ids = id.split(",");

  var entries = []
  for (var i= 0; i<ids.length; i++){
    entry = {name: names[i], id: ids[i], img: images[i]};
    entries.push(entry);
  }

  var search = document.getElementById("search-bar");
  var main = document.getElementById("main-container");

  function loadItems(input){
    main.innerHTML = `<br>`;
    input.forEach((entry)=>{
      if (entry.img == "") {
        main.innerHTML += `
        <div>
          <a href="items/${entry.id}">
            img:
            ${entry.name}
          </a>
        </div>
        `;
      } else {
        main.innerHTML += `
        <div>
          <a href="items/${entry.id}">
            <img src="${entry.img}" alt="#"><button class="item-show-button" onclick="logPage('${entry.name}')">${entry.name}</button>
          </a>
        </div>
      `;
      }
    });
  }

  function logPage(item) {
    sessionStorage.setItem("page", item);
  }

  loadItems(entries.reverse());
  search.addEventListener('keyup', function() {
    searchItems(search.value)
  });

  function searchItems(input) {
    if (input == "") {
      loadItems(entries.reverse());
    } else {
      var query = input.toLowerCase();
      var filtered = entries.filter((entry) => {
        return entry.name.toLowerCase().includes(query)
      })
      loadItems(filtered.reverse());
    }
  };


</script>
