<br>
<br>
<div>
  <%= link_to @item.name, item_path(@item), id: "item-options" %>
  <div class="link"><%= link_to '<i class="fab fa-youtube"></i>'.html_safe, item_path(@item, :params=>{:cmd=>"youtube"}) %></div>
  <div class="link"><%= link_to '<i class="fab fa-google" aria-hidden="true"></i>'.html_safe, item_path(@item, :params=>{:cmd=>"google"}) %></div>
  <div class="link"><%= link_to '<i class="fab fa-wikipedia-w"></i>'.html_safe, item_path(@item, :params=>{:cmd=>"wikipedia"}) %></div>
  <div class="link"><%= link_to '<i class="fab fa-amazon"></i>'.html_safe, @amazon_link, target:"_blank" %></div>
  <div class="link"><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, item_path(@item, :params=>{:cmd=>"notes"}) %></div>
</div>

<% if @notes %>
  <div class="notes-container">
    <% @notes.each do |note| %>
      <p><%= note.body %></p>
    <% end %>
  </div>
<% end %>

<% if @documentary %>
  <div class="documentaries-container">
    <%= link_to "#{@documentary}", @documentary, target:"_blank" %>
  </div>
<% end %>

<% if @videos %>
  <div class="videos-container">
    <% @videos.each do |url| %>
      <iframe id="video" src="<%= url %>" frameborder="0" allowfullscreen draggable="true"></iframe>
    <% end %>
  </div>
<% end %>

<% if @wikipedia_search_term %>
  <div class="wikipedia-container">
    <iframe src="https://en.wikipedia.org/wiki/<%= @wikipedia_search_term %>" id="wikipedia-frame"></iframe>
  </div>
<% end %>

<% if @google_search_results %>
  <div id="google-frame">
    <div>Links:</div>
    <% @google_search_results.each do |result| %>
      <div class="google-search-results-container">
        <%= link_to result[0], result[1], target:"_blank", class: "thumbnail-preview" %>
      </div>
      <hr>
    <% end %>
  </div>
<% end %>
