
<h1><%= @item.name %></h1>

<% if @documentary %>
  <div class="documentaries-container">
    <%= link_to "#{@documentary}", @documentary, target:"_blank" %>
  </div>
<% end %>

<% if @videos %>
  <div class="videos-container">
    <% @videos.each do |url| %>
      <iframe id="video" src="<%= url %>" frameborder="0" allowfullscreen draggable="true"></iframe>
    <% end %>
  </div>
<% end %>

<% if @wikipedia_search_term %>
  <div class="wikipedia-container">
    <iframe src="https://en.wikipedia.org/wiki/<%= @wikipedia_search_term %>" id="wikipedia-frame"></iframe>
  </div>
<% end %>

<% if @google_search_results %>
  <div id="google-frame">
    <div class="google-search-results-container">
      <ul>
        <% @google_search_results.each do |result| %>
        <!-- onclick='update("<%#result[1]%>")' -->
          <li><%= link_to result[0], result[1], target:"_blank", class: "thumbnail-preview" %></li>
          <hr>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
