
<h1><%= @item.name %></h1>

<% if @images %>
  <div class="image-container">
    <% @images.each do |url| %>
      <div class="img-wrapper">
        <img id="drag1" src="<%= url %>" alt="" draggable="true" ondragstart="drag(event) class="show-thumbnail">
      </div>
    <% end %>
  </div>
<% end %>

<% if @videos %>
  <div class="videos-container">
    <% @videos.each do |url| %>
      <iframe id="video" src="<%= url %>" frameborder="0" allowfullscreen draggable="true"></iframe>
    <% end %>
  </div>
<% end %>

<% if @wikipedia_search_term %>
  <div class="wikipedia-container">
    <iframe src="https://en.wikipedia.org/wiki/<%= @wikipedia_search_term %>" id="wikipedia-frame"></iframe>
  </div>
<% end %>

<% if @google_search_results %>
<div id="google-frame">
    <iframe src="<%= @google_search_results[5][1] %>" frameborder="0"></iframe>
  </div>

  <div class="google-search-results-container">
    <ul>
      <% @google_search_results.each do |result| %>
        <li><button onclick='update("<%=result[1]%>")', target:"_blank", class: "google-link" ><%=result[0]%></button></li>
      <% end %>
    </ul>
  </div>
<% end %>
<script>

  function update(link){
    localStorage.setItem("current", link);
    document.getElementById("google-frame").innerHTML = '<iframe src=' + localStorage.getItem("current") + 'frameborder="0"></iframe>';
  }
</script>
