<%= form_for :music do |f| %>
  <% if @music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@music.errors.count, "error") %> prohibited this music from being saved:</h2>

      <ul>
      <% @music.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, {id: :music_name, required: true, placeholder:"put the name here"} %>
  </div>

  <div class="field">
    <%= f.text_field :url, {id: :music_url, required: true, placeholder:"put the watch uri here"} %>
  </div>

  <div class="actions">
    <%= f.submit "save" %>
  </div>
<% end %>
