

<ul id="nav-links">

  <li>
    <%= link_to '<i class="fas fa-bars"></i>'.html_safe, items_path %>
  </li>

  <li>
    <%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>'.html_safe, new_item_path %>
  </li>

  <li>
    <!-- I like the random documentary functionality but it comes back broken more often than not-->
    <%= link_to '<i class="fas fa-tv"></i>'.html_safe, "#" %>
  </li>

  <li>
    <%= link_to '<i class="fa fa-music" aria-hidden="true"></i>'.html_safe, music_index_path %>
    <div id="music">music</div>
  </li>

  <li>
    <div id="music-player"></div>
  </li>

  <li>
    <%=link_to '<i class="fa fa-youtube-square"></i>'.html_safe, "https://www.youtube.com/playlist?list=WL", target:"_blank" %>
    <div id="youtube">watch-now</div>
  </li>

</ul>

<script>
  console.log(localStorage.getItem("now-playing"));
  document.getElementById("music-player").innerHTML = '<iframe src="' + localStorage.getItem("now-playing") + '" frameborder="0" allowfullscreen draggable="true"></iframe>';
</script>
