<ul id="nav-links">

  <li>
    <input type="text" id="search-bar">
  </li>

  <li>
    <%= link_to '<i class="fas fa-bars"></i>'.html_safe, items_path %>
  </li>

  <li>
    <%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>'.html_safe, new_item_path %>
  </li>

  <li>
    <%= link_to '<i class="fas fa-tv"></i>'.html_safe, videos_path %>
  </li>

  <li>
    <%= link_to '<i class="fa fa-music" aria-hidden="true"></i>'.html_safe, music_index_path %>
  </li>

  <li>
    <%= link_to '<i class="far fa-edit"></i>'.html_safe, notes_path %>
  </li>


</ul>
